.app-cookie-line {
    bottom: 0;
    position: fixed;
    transition: all .5s ease-out;
    width: 100%;
}

.app-cookie-line.is-hidden {
    opacity: 0;
    visibility: hidden;
}

.app-cookie-line-inner {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 1rem;
    text-align: center;
}

.app-cookie-line-intro, .app-cookie-line-button {
    color: inherit;
    display: inline-block;
    margin-right: 1rem;
}

.app-cookie-line-button {
    border: 1px solid currentColor;
    padding: .5rem 1rem;
    text-decoration: none;
}

.app-cookie-line-button:last-of-type {
    margin-right: 0;
}

.app-cookie-line-buttons {
    display: inline-block;
    margin: 1rem 0;
}

.app-cookie-line-title {
    font-size: 1.3rem;
    font-weight: bold;
    padding-top: 1rem;
}

.app-cookie-line-intro {
    margin-bottom: 0;
}

/****************/
/* Themes       */
/****************/

.app-cookie-line.mod-light {
    background-color: rgba(255, 255, 255, 0.8);
    color: #222;
}

.app-cookie-line.mod-dark {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
